.items {
  position: relative;
}
.image {
  width: 220px;
  height: 250px;
}
.name {
  margin-top: 12px;
}
.city {
  margin-top: 12px;
}
.price {
  margin-top: 12px;
  font-weight: bold;
  margin-bottom: 12px;
}
.rate {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 0, 0, 0);
  color: white;
  background-color: blue;

}

.div {
  display: flex;
  gap: 5px;
}
